<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title text-sm-center">Բաժիններ</li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="HeadSection">
                    <i class="nav-icon icon-drop"></i>Գլխային
                </a>
            </li>  
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <i class="nav-icon icon-info"></i>Ապրանքներ
                </a>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="ProductCategoryList">
                    <i class="nav-icon icon-puzzle"></i>Կատեգորիաներ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " asp-area="Admin" asp-controller="Home" asp-action="MaterialList">
                    <i class="nav-icon icon-puzzle"></i> Նյութեր
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " asp-area="Admin" asp-controller="Home" asp-action="Materials">
                    <i class="nav-icon icon-puzzle"></i> Նյութեր և Ապրանքներ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " asp-area="Admin" asp-controller="Home" asp-action="ForWhom">
                    <i class="nav-icon icon-puzzle"></i> Սեռ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " asp-area="Admin" asp-controller="Home" asp-action="Orders">
                    <i class="nav-icon icon-puzzle"></i> Ընթացիկ պատվերներ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " asp-area="Admin" asp-controller="Home" asp-action="OrdersDone">
                    <i class="nav-icon icon-puzzle"></i> Կատարված պատվերներ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " asp-area="Admin" asp-controller="Home" asp-action="StaffSection">
                    <i class="nav-icon icon-people"></i> Աշխատակիցներ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " asp-area="Admin" asp-controller="Home" asp-action="AboutSection">
                    <i class="nav-icon icon-book-open"></i> Մեր Մասին
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " asp-area="Admin" asp-controller="Home" asp-action="ContactSection">
                    <i class="nav-icon icon-phone"></i>Կոնտակտային
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " asp-area="Admin" asp-controller="Home" asp-action="Users">
                    <i class="nav-icon icon-phone"></i>Օգտատերեր
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " asp-area="Admin" asp-controller="Home" asp-action="Logs">
                    <i class="nav-icon icon-phone"></i>Լոգեր
                </a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>