
<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body style="background-color:dimgrey">
    <div style="background-color:black;color:White ;padding:25px; display:flex;align-items:center">
        <div style="margin-right:25px;">
            <img src="https://www.dstech.net/images/easyblog_shared/November_2018/11-12-18/human_error_stop_400.png" style="border-radius:60%" alt="Alternate Text" />
        </div>
        <div style="padding-top: 50px;margin-left:60px;">
            <h2>Couses of this Error</h2>
            <ul style="font-size:large">
                <li>User with that email already exsists.</li>
                <li>"Admin Verifier" is wrong.</li>
            </ul>
        </div>
    </div>
</body>
</html>