@{ Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/css/author.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="glitch " data-text="">
            <h6>Երևանի Ինֆորմատիկայի պետական քոլեջ <br />713 խմբի ուսաանողուհի՝</h6>
        </div>
        <div class="glitch" data-text="Զարուհի Հացագործյան">Զարուհի Հացագործյան</div>
        <div class="glow">Զարուհի Հացագործյան</div>
        <p class="subtitle">Junior .NET Developer</p>
    </div>
    <div class="scanlines"></div>
</body>
</html>
