<section>
    <div class="container">
        <h4>Ձեր տվյալները հաջողությամբ փոփոխվել են!</h4>
    </div>
</section>
<!-- Bootstrap core JavaScript -->
<script src="~/libTemp/vendor/jquery/jquery.min.js"></script>
<script src="~/libTemp/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="~/libTemp/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/libTemp/js/jqBootstrapValidation.js"></script>
<!-- Custom scripts for this template -->
<script src="~/libTemp/js/agency.js"></script>