<section>
    <div class="container">
        <h2>Ձեր պատվերը հաջողությամբ ընդունվել է։</h2>
        <h3>Հարցեր ունենալու դեպքում ուղարկեք նամակ հետևյալ էլ-հասցեին Myshop@gmail.com</h3>
        <h3>Շնորհակալություն, որ մեզ հետ եք!</h3>
    </div>
</section>
<!-- Bootstrap core JavaScript -->
<script src="~/libTemp/vendor/jquery/jquery.min.js"></script>
<script src="~/libTemp/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="~/libTemp/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Contact form JavaScript -->
<script src="~/libTemp/js/jqBootstrapValidation.js"></script>
<!-- Custom scripts for this template -->
<script src="~/libTemp/js/agency.js"></script>