@model AboutSection
<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <title></title>
</head>
<body>
    <div style="width:1000px;margin:auto;margin:auto;padding:35px;background-color:aliceblue">
        <div class=" bg-primary panel-body"><h4>Խմբագրում</h4></div>
        <div asp-validation-summary="All" class="text-danger">
            <form asp-action="AboutSectionEdit" method="post">
                <div class=" form-group">
                    <label asp-for="ID">ID</label>
                    <input asp-for="ID" class=" form-control" readonly="readonly" />
                </div>
                <div style="display:flex" class="form-group">
                    <div class="form-group">

                        <div class="form-group">
                            <h3>Ընթացիկ նկար</h3>
                            <img style="width:250px;height:350px;" src="@Model.ImgUrl" alt="No Image" />
                        </div>
                        <div class=" form-group">
                            <label asp-for="ImgUrl">Նոր նկարի URL</label>
                            <input type="text" asp-for="ImgUrl"  class=" form-control" />
                        </div>
                    </div>
                    <div class=" form-group ">
                        <label asp-for="Description">Նկարագրություն</label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                    </div>
                </div>
                <div class=" form-group">
                    <h3>Ուղղություն</h3>
                    <select asp-for="Dest">
                        <option>Աջ</option>
                        <option>Ձախ</option>
                    </select>
                </div>
                <button type="submit" class=" btn btn-primary">Պահպանել</button>
                <a asp-action="AboutSection" class="btn btn-default">Չեղարկել</a>
            </form>
        </div>
    </div>
</body>
</html>



<script src="~/lib/tinymce/tinymce/js/tinymce/tinymce.min.js"></script>

<!-- Script to wire up your TinyMCE editor -->
<script type="text/javascript">
    // Initialize your tinyMCE Editor with your preferred options
    tfm_path = '/Areas/Admin/fileman';
    tinymce.init({
    
        selector: "textarea", theme: "modern", height: 200, width: 550,
        plugins: [
        //    "advlist autolink link image lists charmap print preview hr anchor pagebreak",
        //    "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
           "table contextmenu directionality emoticons paste textcolor"
        ],
        fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
        toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect | fontsizeselect",
        toolbar2: "| link unlink anchor | image media | forecolor backcolor | print preview code ",
        image_advtab: false,
        menubar: false,
    });
</script>
