@model ForWhom

    <!DOCTYPE html>
    <html>
    <head>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <title></title>
    </head>
    <body>
        <div class=" bg-stack-overflow pace-panel "><h4>Խմբագրում</h4></div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="container">
            <form asp-action="ForWhomEdit" method="post">
                <div class=" form-group">
                    <label asp-for="Id">ID</label>
                    <input asp-for="Id" class=" form-control" readonly="readonly" />
                </div>

                <div class=" form-group">
                    <label asp-for="Name">Անվանում</label>
                    <input asp-for="Name" class="form-control" />
                </div>

                <button type="submit" class=" btn btn-primary"> Պահպանել</button>


            </form>

            <div style="display:flex; justify-content:flex-end">
                <form method="post" asp-action="ForWhomDelete" asp-route-id="@Model.Id">
                    <button type="submit" class="btn btn-danger"> Ջնջել</button>
                </form>

                <a  asp-action="ForWhom" class="btn btn-outline-dark ml-2">Չեղարկել</a>
            </div>
        </div>
    </body>
</html>


