@model StaffSection
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>
<body>

    <div class=" bg-primary"><h4>Խմբագրում</h4></div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="container">
        <form asp-action="StaffSectionEdit" method="post">
            <div class=" form-group">
                <label asp-for="ID">ID</label>
                <input asp-for="ID" class=" form-control" readonly="readonly" />
            </div>

            <div class=" form-group">
                <label asp-for="Name">Անուն</label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class=" form-group">
                <label asp-for="Position">Պաշտոն</label>
                <input asp-for="Position" class="form-control" />
            </div>
            <div class=" form-group">
                <label asp-for="ImgUrl">Նկար</label>
                <input asp-for="ImgUrl" class="form-control" />
            </div>
            <button type="submit" class=" btn btn-primary"> Պահպանել</button>


        </form>
        <div class="form-group mt-2" style="display:flex; justify-content:flex-end;">
            <form method="post" asp-action="StaffSectionDelete" asp-route-id="@Model.ID">
                <button type="submit" class="btn btn-danger"> Ջնջել</button>
            </form>
            <a asp-action="StaffSection" class="btn btn-outline-dark ml-2">Չեղարկել</a>
        </div>
    </div>
</body>
</html>

<script src="~/lib/tinymce/tinymce/js/tinymce/tinymce.min.js"></script>


<!-- Script to wire up your TinyMCE editor -->
<script type="text/javascript">
    // Initialize your tinyMCE Editor with your preferred options
    tfm_path = '/Areas/Admin/fileman';
    tinymce.init({

        selector: "textarea", theme: "modern", height: 200, width: 550,
        plugins: [
            //    "advlist autolink link image lists charmap print preview hr anchor pagebreak",
            //    "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
            "table contextmenu directionality emoticons paste textcolor"
        ],
        fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
        toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect | fontsizeselect",
        toolbar2: "| link unlink anchor | image media | forecolor backcolor | print preview code ",
        image_advtab: false,
        menubar: false,
    });
</script>
